@font-face {
    font-family: sancreek;
    src: url(Sancreek-Regular.ttf);}

body{
    background-image: url("paper2.jpg");
    background-attachment: fixed;
    background-size: 90%; 
    background-position: center; 
    background-color: grey;
    font-family: Helvetica, sans-serif;
    color: #284042;
}

a {
  color: #284042;
  text-decoration:none;
}

/* visited link */
a:visited {
  color: #284042;
  text-decoration: underline;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

section{
    background-color: #F4EFD0;

}
.body{
    background-color: #E1D3B0;
    height: auto;

h1{
    margin-left: 5%;
    margin-right: 5%;
    font-family: sancreek;
    color: #284042;
    font-size: 3em;
    text-align: center;
    
}
h2 {
    font-family: sancreek;
    color: #284042;
    font-size: 2em;
}

img{
    height:40%;
    width:40%;
    margin: auto;
}    

#nav {
    text-align: center;
    width: auto;
	float: left;
	margin-right:30%;
	margin-left: 30%;
	background-color: #F4EFD0;
	}
ul {
    list-style-type: none;
}	
/*#nav li {
	float: right; }
#nav li a {
	display: block;
	padding: 1em;
	text-decoration: none;
	font-weight: bold;
	color: #284042; }
#nav li a:hover {
	color: #284042;
	background-color: #aed4e6; }
*/