

body{
    background-image: url("springheeled-background.jpg");
    font-family: "Georgia", sans-serif;
}
  div.container{
    background-color: rgba(0, 0, 0, 0.65);
    padding: 5px;
    height: auto;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-sizing: border-box;
    margin: 2%;
    overflow: auto;
}
div.text{
    background-color: rgba(0, 0, 0, 0.85);
    padding: 10px;
    height: auto;
    display: block;
    color:#734B5E;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-sizing: border-box;
    margin: 2%;
    font-size: 16px;
    overflow: auto;
}
div.icontainer{
    background-color: rgba(0, 0, 0, 0.65);
    padding: 5px;
    height: auto;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-sizing: border-box;
    margin: 2%;
    overflow: auto;
    text-align: center;
}
img{
    margin: 5px 5px 10px 10px;
    padding: 5px;
    display: inline;
}
figure {
    float: center;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}


/* Dropdown Button */
.dropbtn{
    background-color: #734B5E;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    opacity: .85;
}

/* The container <div> - needed to position the dropdown content */
.dropdown{
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #F5D3C8;
    opacity: .89;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover{
    background-color: #DDBFB5;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content{
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn{
    background-color: #5B3B4A;
    opacity: .9;
}
/* ALL DROPDOWN CODE FROM W3 SCHOOLS */
